{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Seafile: your public edit share" %}{% endblock %}

{% block body %}
 <div class="w3-bar w3-border w3-light-grey">
  <a href="{{ seaf_root }}" class="w3-bar-item w3-button"><i class="material-icons">chevron_left</i> {% trans "Back to Seafile" %}</a>
  <a href="{% url 'index' %}" class="w3-bar-item w3-button"><i class="material-icons">share</i> {% trans "Your public edit links" %}</a>
  {% if user.is_staff %}
  <a href="{% url 'admin:index' %}" target="_blank" class="w3-bar-item w3-button">{% trans "Administration" %}</a>
  {% endif %}
  <a href="#" class="w3-bar-item w3-button w3-theme w3-right w3-hide-small">{{ user.seafileuser.get_name_or_email }}</a>
</div> 


<div class="container-md">
<div class="w3-content" style="max-width:800px">

<div class="w3-card-4">
    <header class="w3-container w3-theme-d1">
        <h1>{% blocktrans %}Public edit link for <code class="w3-codespan w3-text-black" style="font-size: 0.8em;">{{ basename }}</code>{% endblocktrans %}</h1>
    </header>

    <div class="w3-container">
         <div class="w3-responsive">
            
            <div class="w3-panel w3-border w3-pale-green w3-round-large">
                <p><i class="material-icons">lightbulb_outline</i> {{ status }}</p>
            </div>
            
            <ul class="w3-ul">
                <li>{% trans "File:" %} {{ sps_link.pretty_path }}</li>
                <li><i class="material-icons">share</i>
                    {% trans 'Old link:'%} 
                    <input type="text" class="w3-input w3-code w3-border" style="color: black; overflow: scroll; padding: 3px; width: 100%;" value="{{ sps_link.url }}" disabled="disabled"></input>
                </li>
                <li><i class="material-icons">share</i>
                    {% trans 'New Seafile 12 link:'%} 
                    <input type="text" class="w3-input w3-code w3-border" style="color: black; overflow: scroll; padding: 3px; width: 100%;" value="{{ sps_link.v12link }}" disabled="disabled"></input>
                </li>
                <li class="w3-right w3-theme">
                    <a href="{{ sps_link.url }}" class="w3-bar-item w3-button" target="_blank">
                        {% trans "Open the document as public edition" %}
                        <i class="material-icons">launch</i>
                    </a>
                </li>
            </ul>
            
            <div class="w3-bar">
                <div class="w3-left w3-theme">
                    <a href="{{ back_url }}" class="w3-bar-item w3-button"><i class="material-icons">chevron_left</i> {% trans "Back" %}</a>
                </div>
                
                <div class="w3-right">
                    <form action="{% url 'edit_link' %}" method="post">
                        {% csrf_token %}
                        <input 
                            type="hidden" name="deleteid"
                            value="{{ sps_link.shareid }}"
                        />
                        <button class="w3-bar-item w3-button" type="submit" 
                        aria-label="{% trans "Delete" %}">
                            <i class="material-icons">delete</i> {% trans "Delete" %}
                        </button>
                    </form>
                </div>
                
            </div>
            
        </div> 
    </div> 
</div>
  
</div>


</div>
{% endblock %}
