{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Seafile: your public edit share" %}{% endblock %}

{% block body %}

<div class="w3-bar w3-border w3-light-grey">
  <a href="{{ back_url }}" class="w3-bar-item w3-button"><i class="material-icons">chevron_left</i> {% trans "Back to Seafile" %}</a>
  <a href="{% url 'index' %}" class="w3-bar-item w3-button"><i class="material-icons">share</i> {% trans "Your public edit links" %}</a>
  {% if user.is_staff %}
  <a href="{% url 'admin:index' %}" target="_blank" class="w3-bar-item w3-button">{% trans "Administration" %}</a>
  {% endif %}
  <a href="#" class="w3-bar-item w3-button w3-theme w3-right w3-hide-small">{{ user.seafileuser.get_name_or_email }}</a>
</div> 


<div class="container-md">
<div class="w3-content" style="max-width:1000px">

<div class="w3-card-4">
    <div class="w3-container">
        <div class="w3-panel w3-yellow">
            <p>{% blocktrans %}
                The file {{ file_path }} is not an online editable document.
            {% endblocktrans %}</p>
                
            <div class="w3-bar">
                <div class="w3-right w3-theme">
                    <a href="{{ back_url }}" class="w3-bar-item w3-button"><i class="material-icons">chevron_left</i> {% trans "Back to Seafile" %}</a>
                </div>
            </div> 
        </div>
    </div>
</div>

</div>
</div>

{% endblock %}
