{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Seafile: your public edit links" %}{% endblock %}

{% block body %}

 <div class="w3-bar w3-border w3-light-grey">
  <a href="{{ seaf_root }}" class="w3-bar-item w3-button"><i class="material-icons">chevron_left</i> {% trans "Back to Seafile" %}</a>
  <a href="#" class="w3-bar-item w3-button"><i class="material-icons">share</i> {% trans "Your public edit links" %}</a>
  {% if user.is_staff %}
  <a href="{% url 'admin:index' %}" target="_blank" class="w3-bar-item w3-button">{% trans "Administration" %}</a>
  {% endif %}
  <a href="#" class="w3-bar-item w3-button w3-theme w3-right w3-hide-small">{{ user.seafileuser.get_name_or_email }}</a>
</div> 


<div class="container-md">
<div class="w3-content" style="max-width:1000px">

{% if deleted %}
    <div class="w3-panel w3-yellow">
        <p>{% blocktrans %}The edition link to {{ deleted }} was removed succesfully{% endblocktrans %}</p>
    </div>
{% endif %}

<div class="w3-card-4">
    <header class="w3-container w3-theme-d1">
        <h1>{% trans "Existing public edit links" %}</h1>
    </header>

    <div class="w3-container">
         <div class="w3-responsive">
            <table class="w3-table-all">
                <tr><th style="width:70%;">{% trans "File" %}</th><th>{% trans "Sharing date" %}</th><th></th></tr>
                {% for sps_link in sps_link_list %}
                    <tr>
                        <td class="w3-cell w3-cell-middle">
                            {{ sps_link.pretty_path }} <br />
                            <input type="text" class="w3-input w3-code w3-border" style="color: black; overflow: scroll; padding: 3px; width: 100%; margin: 0 !important;" value="{{ sps_link.url }}" disabled="disabled"></input> <br />
                            <input type="text" class="w3-input w3-code w3-border" style="color: black; overflow: scroll; padding: 3px; width: 100%; margin: 0 !important;" value="{{ sps_link.v12link }}" disabled="disabled"></input>
                        </td>
                        <td class="w3-cell w3-cell-middle">{{ sps_link.creation_datetime|date:"SHORT_DATETIME_FORMAT" }}</td>
                        <td class="w3-cell w3-cell-middle">
                            <a href="{% url 'edit_link' %}?repo_id={{ sps_link.repoid|iriencode }}&file_path={{ sps_link.filepath|iriencode }}&back={% url 'index'|iriencode %}" 
                            class="w3-button w3-theme w3-round-large w3-right">{% trans "Details" %}
                            <i class="material-icons">launch</i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div> 
    </div> 
</div>
  
</div>


</div>
{% endblock %}
