{% extends "base.html" %}
{% load i18n %}

{% block title %}Ce lien d'édition n'est plus disponible{% endblock %}

{% block body %}

<div class="container-md">
<div class="w3-content" style="max-width:1000px">


<div class="w3-card-4 w3-display-middle">
    <header class="w3-container w3-theme-d1">
        <h1>Ce lien d'édition n'est plus disponible</h1>
    </header>

    <div class="w3-container">
        <p>Ce lien d'édition a été créé avec une ancienne version de Seafile,
        et ne fonctionne plus. Il faut demander à la personne qui a créé ce
        lien d'en refaire un dans la nouvelle version de Seafile, et de te
        le partager.</p>
        
        <p>En attendant, tu peux toujours télécharger ce fichier.</p>
        
        <div class="w3-bar">
            <a class="w3-btn w3-right w3-theme" href="{{ share_link }}?dl=1"
            >Télécharger le fichier</a>
        </div>
    </div>


</div>

</div>
</div>

{% endblock %}
