{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ filename }}{% endblock %}

{% block headers %}
    <style type="text/css">
        html,
        body {
            margin: 0;
            padding: 0;
            height:100%;
            overflow:hidden;
        }
        #office_frame {
            display: block;
            width:100%;
            height: 100%;
            border: none;
            margin: 0;
        }
        .hide {
            display:none;
        }
    </style>
{% endblock %}

{% block body %}

<form id="office_form" name="office_form" target="office_frame" action="{{ action_url }}" method="post">
    <input name="access_token" value="{{ access_token }}" type="hidden"/>
    <input name="access_token_ttl" value="{{ access_token_ttl }}" type="hidden"/>
</form>

<iframe id="office_frame" name="office_frame" class="hide" allowfullscreen ></iframe>

<script type="text/javascript" src="{{ seaf_media }}/assets/scripts/lib/jquery.min.dc5e7f18c8d3.js"></script>
<script type="text/javascript" src="{{ seaf_media }}/js/jq.min.js"></script>
<script type="text/javascript" src="{{ seaf_media }}/js/base.js?t=1536127546642"></script>
<script type="text/javascript">
    document.getElementById('office_form').submit();
    document.getElementById('office_frame').className = '';
</script>

{% endblock %}

{% block footer %}{% endblock %}
