{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Seafile: your public edit share" %}{% endblock %}

{% block body %}

<div class="container-md">
<div class="w3-content" style="max-width:1000px">


<div class="w3-card-4 w3-display-middle">
    <header class="w3-container w3-theme-d1">
        <h1>{% trans "Your name" %}</h1>
    </header>

    <form action="{% url 'shareview' shareid %}" method="post" class="w3-container">
        {% csrf_token %}
        <label for="username">{% blocktrans %}
            The name or surname others will see when you edit the document:
        {% endblocktrans %}</label>
    
        <input
            class="w3-input w3-border" autofocus
            type="text" name="username"
        />
        <div class="w3-bar">
            <button class="w3-btn w3-right w3-theme" type="submit" 
                aria-label="{% trans "Edit the document" %}">
                    {% trans "Edit the document" %}
            </button>
        </div>
    </form>


</div>
  
</div>


</div>

{% endblock %}
