{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Seafile: your public edit links" %}{% endblock %}

{% block body %}



<div class="container-md">
<div class="w3-content" style="max-width:1000px">


<div class="w3-card-4 w3-display-middle">
    <header class="w3-container w3-theme-d1">
        <h1>{% trans "Nothing here" %}</h1>
    </header>

    <div class="w3-container">
    <p>{% blocktrans %}
        This page doesn't exists. Maybe it's a link to a moved or deleted file?
        Maybe the link was deleted by it's owner.
    {% endblocktrans %}</p>
    </div>

</div>
  
</div>


</div>
{% endblock %}
