{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    <title>{% block title %}{% endblock %}</title>
    <!--<link rel="stylesheet" href="{style.css}" />-->
    <style>
        /* HTML5-specific CSS setup */
        article,aside,figure,footer,header,hgroup,nav,section{display:block}
        
        body{ background: white;}
    </style>
    
    <link rel="icon" type="image/png" href="{{ seaf_media }}/favicons/favicon.png" />
        
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-orange.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    <style>
        /* Rules for icon sizes: */
        .material-icons { font-size: 14px; }
    </style>
    
    {% block headers %}{% endblock %}
    
</head>

<body>

    {% block body %}{% endblock %}
    
        
    {% block scripts %}{% endblock %}
    
</body>

{% block footer %}
 <div class="w3-bottom w3-hide-small">
 <footer class="w3-container w3-theme-l3">
  <p class="text-muted">
            {% blocktrans %}
            This tool use
            <a href="https://en.wikipedia.org/wiki/Free_software">free
            softwares</a>: 
            <a href="http://seafile.com">Seafile</a> and 
            <a href="https://framagit.org/florencebiree/seafile_public_share">Seafile
            public share (give me the source code)</a>!
            {% endblocktrans %}
    </p>
</footer>
</div>
{% endblock %}

</html>
